aniso8601==3.0.2
blinker==1.4
CacheControl==0.12.5
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
elastic-apm==2.2.1
firebase-admin==2.11.0
Flask==1.0.2
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.6
google-api-core==1.2.1
google-auth==1.5.0
google-cloud-core==0.28.1
google-cloud-firestore==0.29.0
google-cloud-storage==1.10.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpcio==1.13.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
msgpack==0.5.6
msgpack-python==0.5.6
protobuf==3.6.0
pyaml==17.12.1
pyasn1==0.4.3
pyasn1-modules==0.2.2
pymongo==3.7.0
pytz==2018.5
PyYAML==3.13
requests==2.19.1
retrying==1.3.3
rsa==3.4.2
selenium==3.13.0
selenium-page-elements==0.1.6
six==1.11.0
urllib3==1.23
Werkzeug==0.14.1
